* {
    margin: 0;
    padding: 0;
  }
  
  .carddatabase-container{
    background-color: rgba(0,0,0,0.5);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  .monstersearch{
    position: absolute;
    left: 33rem;
    width: 20rem;
    font-size: 25px;
    text-align: center;
      top: 7rem;
}

.monsterBox{
    display: grid;
    grid-template-columns: 350px 250px 350px;
    grid-template-rows: 300px 100px; 
    column-gap: 185px;
    row-gap: 170px;
    align-items: center;
    text-align: center;
    width: 100%;
}