*{
    margin: 0;
    padding: 0;
}

.cardHeader{
font-size: 25px;
background-color: grey;
color: white;
width: 290px;
margin-top: 20px;
margin-left: 25px;
}

.cardbtn{
    display: flex;
    margin: auto;
    width: 300px;
    justify-content: center;
    text-align: center;
    font-family: Matrix;
    font-size: 25px;
    background-color: goldenrod;
    color: black;
}



.card-img{
    display: flex;
    flex-direction: row;
    height: 23rem;

}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.card_modal, .card_overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.card_overlay {
    background: rgba(49,49,49,0.8);
}
.cardmodal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: white;
    padding: 100px 200px;
    border-radius: 3px;
    max-width: 800px;
    min-width: 600px;
}


.cardmodal-name{
    position: fixed;
    width: 40%;
    left: 30rem;
    font-size: 25px;
    top: 5rem;
    color: black;
}

.cardmodal-desc{
    position: fixed;
    width: 40%;
    left: 30rem;
    top: 9rem;
    text-align: justify;
    color: black;
    font-size: 17px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}