*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Matrix;
    background-image: url("media/hieroglyphs.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}