*{
    margin: 0;
    padding: 0;
}

.optionscontainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 8rem;
    left: 26rem;
}

.nav-option{
    color: white;
    text-decoration: none;
    font-size: 35px;
    width: 25rem;
    background-color: goldenrod;
    margin-top: 2rem;
    color: black;
    border: 2px solid black;
    animation: fadeInText 3s;
}

@keyframes fadeInText {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.logocontainer{
    display: flex;
    width: 100%;
    margin-left: 20px;
}


.logo-home{
    display: flex;
    flex-direction: row;
    height: 80px;
}

.apptitle-home{
    display: flex;
    font-size: 20px;
    margin-left: 40px;
    background-color: black;
    color: white;
    width: 13rem;

}