*{
    margin: 0;
    padding: 0;
}

.logo{
    position: absolute;
    left: 26rem;
    top: 3rem ;
    height: 180px;
}

.apptitle{
    display: flex;
    position: absolute;
    left: 27rem;
    top: 14rem;
    font-size: 50px;
    background-color: black;
    width: 30rem;
    color: white;
    justify-content: center;
}

.old-enterlink{
    display: flex;
    position: absolute;
    left: 27rem;
    top: 20rem;
    font-size: 45px;
    text-decoration: none;
    color: goldenrod;
    width: 30rem;
    justify-content: center;
    border: 1px solid black;
    background-color: rgba(0,0,0,0.7);
    font-family: Hieroglify;
}

@keyframes fadeInText {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.yugikaiba{
    position: absolute;
    height: 30rem;
    bottom: 0rem;
}

.imgyugi{
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.new-enterlink {
    display: flex;
    position: absolute;
    left: 27rem;
    top: 20rem;
    font-size: 45px;
    text-decoration: none;
    color: goldenrod;
    width: 30rem;
    justify-content: center;
    border: 1px solid black;
    background-color: rgba(0,0,0,0.7);
    font-family: Matrix;
    opacity: 0;
}

.old-enterlink, .new-enterlink {
    transition: opacity 0.5s linear;
}

.wrap:hover .old-enterlink {
    opacity: 0;
}
.wrap:hover .new-enterlink {
    opacity: 1;
}

.lnk{
    text-decoration: none;
    color: white;
}